@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5b2c6f;
  --secondary-color: #bb8fce;
  --full-bg: #ffffff;
  --full-text: #000000;
}
/* styles.css */
.bgcolorP {
    background-color: var(--primary-color);
  }
.txcolorP{
    color: var(--primary-color);
  }

.bgcolorS {
    background-color: var(--secondary-color);
  }
.txcolorS{
    color: var(--secondary-color);
  }

  .borderI{
    border: 2px solid var(--primary-color);
  }

  .bgmap{
    background-color: #2a81c0;
  }

  .shadowI{
    text-shadow: 4px 14px 63px rgba(188, 47, 222, 1);
  }

  .shadowW{
    box-shadow: 8px 8px 100px 67px rgba(159, 1, 199, 0.1);
  }

  .bgmain{
    background: linear-gradient(338deg, rgba(161,159,236,0.1982186624649859) 35%, rgba(244,230,255,0.5) 100%);

  }

  .bgfull {background-color: var(--full-bg);}

  .textfull {color: var(--full-text);}