@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5b2c6f;
  --secondary-color: #bb8fce;
}
/* styles.css */
.bgcolorP {
    background-color: var(--primary-color);
  }
.txcolorP{
    color: var(--primary-color);
  }

.bgcolorS {
    background-color: var(--secondary-color);
  }
.txcolorS{
    color: var(--secondary-color);
  }

  .borderI{
    border: 2px solid var(--primary-color);
  }

  