@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5b2c6f;
  --secondary-color: #bb8fce;
  --clear: #f6f6f4;
  --dark: #000000;
  --bgmap-color: #04045b;
  --brown: #9c8164;
  --color-test: #759ca2;
 
  --font-kenia: "Kenia", sans-serif;
  --font-satisfy: "Satisfy", cursive;
  --font-macondo: "Macondo", cursive;
}
/* styles.css */

.clearbg{ background-color: var(--clear) }
.cleartext { color: var(--clear)}
.darkbg { background-color: var(--dark) }
.darktext { color: var(--dark) }
.brownbg{background-color: var(--brown)}
.browntext{color: var(--brown)}
.brownborder{border-color: var(--brown)}
.bgxclear { background-color: var(--clear) }

.maintextfull {
  color: var(--full-bg);
}
.mainbgfull {
  background-color: var(--color-text);
  color: white;
}
.borderfull {
  border-color: var(--color-text);
}
.font-kenia {
  font-family: var(--font-kenia);
}

.font-satisfy {
  font-family: var(--font-satisfy);
}

.font-macondo {
  font-family: var(--font-macondo);
}
.colortest {
  color: var(--color-test);
}
.colortext {
  color: var(--color-text);
}
.bgtext {
  background-color: var(--color-test);
}
.bgtest {
  background-color: var(--bg-test);
}
.bgcolorP {
  background-color: var(--primary-color);
}
.txcolorP {
  color: var(--primary-color);
}

.bgcolorS {
  background-color: var(--secondary-color);
}
.txcolorS {
  color: var(--secondary-color);
}

.borderI {
  border: 2px solid var(--primary-color);
}

.bgmap {
  background-color: var(--bgmap-color);
}

.shadowI {
  text-shadow: 8px 18px 53px rgb(197, 4, 245);
}

.shadowW {
  box-shadow: 8px 8px 100px 67px rgba(159, 1, 199, 0.1);
}

.bgmain {
  background: linear-gradient(
    338deg,
    rgba(161, 159, 236, 0.1982186624649859) 35%,
    rgba(244, 230, 255, 0.5) 100%
  );
}

.bgfull {
  background-color: var(--full-bg);
}

.textfull {
  color: var(--full-text);
}

.custom-bubble {
  position: relative;
  display: inline-block;
  background-color: var(--bg-test);
  color: white;
  padding: 8px 12px;
  border-radius: 16px;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
}

.bubble-content {
  position: relative;
  z-index: 1;
}

.bubble-pointer {
  position: absolute;
  bottom: -10px; /* Positionne la queue sous la bulle */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--bg-test); /* La couleur de la queue doit correspondre à celle de la bulle */
}

#building-text {
  visibility: hidden; /* Masquer le texte au départ */
}
.letter {
  display: inline-block; /* Pour pouvoir les révéler individuellement */
  opacity: 0; /* Invisible au départ */
  transition: opacity 0.3s ease; /* Transition douce */
}

/* ScrollArea.module.css ou globals.css */

/* Styles pour la racine de la scroll area */
.ScrollAreaRoot {
  width: 1100px;
  height: fit-content;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 10px var(--black-a4);
  background-color: transparent;
  --scrollbar-size: 6px;
   padding-top: 10px;
}

.ScrollAreaViewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
 
}

.ScrollAreaScrollbar {
  display: flex;
  /* ensures no selection */
  user-select: none;

  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;

  background: rgb(0, 0, 0);
  transition: background 160ms ease-out;
  border-radius: 3px;
  
}

.ScrollAreaScrollbar[data-orientation="horizontal"] {
  flex-direction: column;
  height: var(--scrollbar-size);
  
}

.ScrollAreaThumb {
  flex: 1;
  background: var(--brown);
  border-radius: 3px;
  position: relative;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

.ScrollAreaCorner {
  background: var(--black-a5);
}

.cursor-circle {
  width: 100px; /* Taille du rond */
  height: 100px; /* Taille du rond */
  border-radius: 50%; /* Forme ronde */
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Couleur blanche semi-transparente */
  position: fixed; /* Position fixe pour le suivre */
  transform: translate(-50%, -50%); /* Centrer le curseur */
  pointer-events: none; /* Ignore les événements de la souris */
  transition: background-color 0.3s; /* Transition pour le changement de couleur */
}



.scrolling-text-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.scrolling-text-inner {
  display: inline-block;
  animation: scroll var(--marquee-speed) linear infinite; /* Utilisation de la variable pour la vitesse */
}

.scrolling-text {
  display: inline-flex;


}

.scrolling-text-item {
  padding-right: 2rem;
  color: gray;
  font-size: 50px;
  opacity: 10%; /* Espace entre les items */
}

.cursor-follow {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2); /* Couleur du rond */
  border-radius: 50%;
  pointer-events: none; /* Empêche d'interférer avec les clics */
  transform: translate(-50%, -50%); /* Centrer le rond sur le curseur */
  z-index: 9999; /* Au-dessus des autres éléments */
}


.custom-bubble {
  position: relative;
  display: inline-block;
  background-color: #c9af95;;
  color: white;
  padding: 8px 12px;
  border-radius: 16px;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
}

.bubble-content {
  position: relative;
  z-index: 1;
}

.bubble-pointer {
  position: absolute;
  bottom: -10px; /* Positionne la queue sous la bulle */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #c9af95;; /* La couleur de la queue doit correspondre à celle de la bulle */
}

/* // Modal modify projet */

.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-opacity-50 {
  opacity: 0.5;
}

.bg-white {
  background-color: white;
}

.p-4 {
  padding: 16px; /* Ajustez la valeur selon vos besoins */
}

.rounded {
  border-radius: 0.25rem; /* Ajustez la valeur selon vos besoins */
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Ajustez la valeur selon vos besoins */
}



@keyframes scroll {
  0% {
    transform: translateX(0); /* Commence à gauche */
  }
  100% {
    transform: translateX(-50%); /* Défile jusqu'à -50% de la largeur pour boucler */
  }
}
